@page
@model ShopUI.Pages.Admin.StockModel
@{
}

<div id="app">
    <div class="columns">
        <div class="columns is-3">
            <table class="table">
                <tr v-for="product in products" @@click="selectProduct(product)">
                    <td>
                        {{product.Name}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="column is-6"  v-if="selectedProduct">
            <table class="table">
                <tr v-for="(stock,index) in Object.values(selectedProduct.stock)[1]">
                    <td><input class="input" v-model="stock.description" /></td>
                    <td><input class="input" v-model="stock.num" /></td>
                    <td><a class="has-text-warning"@@click="deleteStock(stock.id, index)">Delete</a></td>
                </tr>
            </table>
            <a class="button is-warning" @@click="updateStock">Update Stock</a>
        </div>
        <div class="column is-3"   v-if="selectedProduct">
            <h2 class="title">New Stock</h2>
            <div class="field">
                <div class="control">
                    <input class="input" v-model="newStock.description" />
                </div>
            </div>
            <div class="field" >
                <div class="control">
                    <input class="input" v-model="newStock.num" />
                </div>
            </div>
            <a class="button is-success" @@click="createStock">Add</a>
        </div>
    </div>

</div>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/admin/stock.js"></script>
}