@page
@model ShopUI.Pages.CartModel
@{
}
<div class="container">
    <div class="columns">
        <partial name="_CartPartial" model="@Model.Cart"/>
    </div>
</div>

@section scripts {
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var addOneToCart = function (e) {
            var stockId = e.target.dataset.stockId;
            axios.post("/cart/AddOne/" + stockId)
                .then(res => {
                    updateCart();
                })
                .catch(err => {
                    // error when ran out of stock
                    alert(err.error);
                });
        }

        var removeOneFromCart = function (e) {
            var stockId = e.target.dataset.stockId;
 
            removeFromCart(stockId, 1);
        }

        var removeAllFromCart = function (e) {

            var stockId = e.target.dataset.stockId;
            var id = "stock-num-" + stockId;
            var el = document.getElementById(id);

            var num = parseInt(el.innerText);
            removeFromCart(stockId, num);
        }

        var removeFromCart = function (stockId, num){
            axios.post("/cart/Remove/" + stockId + "/" + num)
                .then(res => {
                    updateCart();
                })
                .catch(err => {
                    // error when ran out of stock
                    alert(err.error);
                });
        }

        var updateCart = function () {
            axios.get("/cart/GetCartComponent")
                .then(res => {
                    var html = res.data;
                    var el = document.getElementById('cart-nav');

                    el.outerHTML = html;
                });

            axios.get("/cart/GetCartMain")
                    .then(res => {
                        var html = res.data;
                        var el = document.getElementById('cart-main');

                        el.outerHTML = html;
                    });
        }

    </script>
}
