<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopUI</title>
    <link href="~/lib/bulma/css/bulma.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" asp-page="Index">
                    <img src="~/images/cart.png" width="50" height="50">
                    <p>Shop</p>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">



                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="navbar-item" asp-area="" asp-page="/Admin/Index">Admin</a>
                    }
                </div>

                <div class="navbar-end">
                    <vc:cart view="Small"></vc:cart>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="navbar-item" asp-action="Logout" asp-controller="Account">Sign Out</a>
                    }
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p> Copy Right 2022 by me, <a asp-page="/Account/Login">Admin Login</a></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
