@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="section">
    <div class="columns is-multiline is-mobile">
        @{
            for (int i = 0; i < 5; i++)
            {
                foreach (var product in Model.Products)
                {
                <div class="column is-3-desktop is-6-mobile is-4-tablet">
                    <a asp-page="Product" asp-route-name="@product.Name.Replace(" ", "-")">
                        <div class="card" >
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="~/images/test.jpg" />
                                </figure>
                            </div>
                            <div class="card-content">
                                @{
                                    string cssClass = "";
                                    string message = "";


                                    if (product.StockCount == 0)
                                    {
                                        cssClass = "is-danger";
                                        message = "Out Of Stock";
                                    }
                                    else if (product.StockCount <= 10)
                                    {
                                        cssClass = "is-warning";
                                        message = "Low On Stock";


                                    }
                                }
                                @{
                                    if (product.StockCount <= 10)
                                    {
                                        <div class="notification {{cssClass}} is-paddingless has-text-centered">
                                            @message
                                        </div>
                                    }
                                }
                                <p class="title is-size-5">
                                    @product.Name  @product.Price
                                </p>
                                <p class="subtitle">
                                    @product.Description
                                </p>


                            </div>
                        </div>
                    </a>
                </div>
                    }
                }
            }
    </div>
</div>

