@model IEnumerable<Application.Cart.GetCart.Response>
@{
}
<div>
    <p class="title">Cart</p>

    @foreach (var product in Model)
    {
        <article class="media">
            <figure class="media-left">
                <p class="image is-128x128" style="display: flex; align-items: center; ">
                    <img src="~/images/test.jpg" />
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                   <p class="title">@product.Name</p>
                    <div class="level">
                        <div class="level-item">num: @product.Num</div>
                        <div class="level-item">size: @product.StockId</div>
                        <div class="level-item">price: @product.Value</div>
                    </div>
                </div>            
            </div>
        </article>
    }
</div>