@model IEnumerable<Application.Cart.GetCart.Response>
@{
}
<div>
    <h5>Small Cart Component</h5>
    @foreach (var product in Model)
    {
        <div>
            <span>@product.Name -</span>
            <spanp>@product.Value -</spanp>
            <span>@product.Num</span>
        </div>
    }
</div>