@page
@model ShopUI.Pages.Account.LoginModel
@{
}
<form method="post">

    <input asp-for="Input.UserName" />
    <input asp-for="Input.Password" />
    <input type="submit" value="Sign In" />


</form>